<html>
	<body>
		<center>
			<h1> Hybrid Cryptography for Cloud Storage </h1><br><br>
			<b><p style="color:green; font-size:50px">SUCCESS</p></b>
			<table>
				<tr>
					<td><a href='return-file' target="blank"><button>Download File</button></a></td>
					<td><a href='home'><button>Back to HOME</button></a></td>
				</tr>
			</table>
			<br><h4>Information Security and Foundation(J_Component)</h4>
			<h5>Kranthi Kiran P(20MCS0006)<br>Pabbidi Supriya(20MCS0028)<br>Chaitanya(20MCS0070)<br>M.Tech-CSE <br>VIT University, Vellore</h5>
		</center>
	</body>
</html>